@model IEnumerable<Biblioteka.Data.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Книги</h1>

<p>
    <a asp-action="Create">Създай нова</a>
</p>

   <div class="container">
    <div class="row justify-content-md-around">

         @foreach (var item in Model) {
            <div class="card" style="width:30%; height:25%; border-radius:20px; opacity:0.9; "> 
               
                  <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.Title)
                    </h5>
                    <p class="card-text">
                        @Html.DisplayFor(modelItem => item.Authors.LastName)
                    </p>
                    <p class="card-text">
                        @Html.DisplayFor(modelItem => item.Presses.Name)
                    </p>
                    <p class="card-text">
                        @Html.DisplayFor(modelItem => item.Genres.Name)
                    </p>
                    <p class="card-text">
                        @Html.DisplayFor(modelItem => item.YearPublish)
                    </p>
                     <p class="card-text">
                        @Html.DisplayFor(modelItem => item.RegisterOn)
                    </p>
                    <div class="card-imag"> 
                        <img src="@Html.DisplayFor(modelItem => item.ImageURL)" width="100" /> 
                    </div>

                    <a  asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Промени</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Детайли</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Изтрий</a> |
                    <a asp-controller="Cards" asp-action="Create" asp-route-medicineId="@item.Id" class="btn btn-danger">Наемане</a> 

                </div>
               
            </div>
         }
    </div>
</div>
